* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#main {
  height: 100vh;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.nav {
  color: red;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 2vw;
  justify-content: center;
  padding-top: 3vw;
  cursor: pointer;
}
.canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}
